{% extends 'base.html' %}
    {% block title %}About Me{% endblock %}
      {% block content %}
        <div class="jumbotron">
          <h1>Welcome to my gallery</h1>
            <div class="row">
                <div class="col-md">
                  <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Walk from the Past</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md">
                  <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Walk in the Park</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md">
                  <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Board of Walks</h5>
                    </div>
                  </div>
                </div>
               </div>
        </div>
        {% endblock %}