{% extends 'base.html' %}
{% block content %}
      <h1>Appointments</h1>
        <div class="jumbotron">
          <div class="row">
            <div class="col-6">
              <form method="post" actions="/appointments/">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit", name="save">add appointment</button>
              </form>
            </div>
          </div>
          <div class="row">
            {% for meh in appointments %}
              {% csrf_token %}
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{meh.getAppointmentName}}</h5>
                  <p class="card-text">{{meh.getDate}} {{meh.getTime}}</p>
                  <a class="btn btn-primary" href="/delete/{{meh.id}}">delete</a>
                </div>
              </div>
              {% endfor %}
            </div>
          <!--</div>-->
        </div>
{% endblock %}