<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS: CHANGE IT LATER ON DJANGO STATIC -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1/dist/css/bootstrap.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}"> -->

    <title>{% block title %}Tsaqif A{% endblock %}</title>
  </head>
  {% block body %}<body class= "container-noPads bg-myBlue"></body>{% endblock %}
      <nav class="navbar navbar-expand-lg navbar-light bg-myDark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav ">
              <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'app:index' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white disabled" href="{% url 'app:aboutMe' %}" tabindex="-1" aria-disabled="true">About Me</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white disabled" href="{% url 'app:gallery' %}" tabindex="-1" aria-disabled="true">My Collections</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'app:appointments' %}">My Appointments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white disabled" href="{% url 'app:contactMe' %}" tabindex="-1" aria-disabled="true">Contact Me</a>
              </li>
            </ul>
          </div>
        </nav>
        {% block content %}
        {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap-4.3.1/dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>