{% extends 'base.html' %}
{% block body %}<body class= "container-noPads" style="width:100%; height:100%; background:#fff url('static/assets/newIndexBGimg.jpg') center center no-repeat;background-attachment: fixed;background-size:cover;">{% endblock %}
{% block content %}
        <h1 class="text-center text-white" style="position: relative;top: 250px;">Muhammad Tsaqif Al Bari</h1>
        <h2 class="text-center text-white" style="position: relative;top: 250px;">Designer. Coder. Googler Expert.</h2>
{% endblock %}