{% extends 'base.html' %}
{% block title %}My Schedule{% endblock %}
    {% block content%}
    <div class="jumbotron justify-content-center">
            <table class="table" style="width: 50%">
                    <thead>
                        <tr>
                            <th scope="col">Mon</th>
                            <th scope="col">Tue</th>
                            <th scope="col">Wed</th>
                                <th scope="col">Thu</th>
                                <th scope="col">Fri</th>
                                <th scope="col">Sat</th>
                                <th scope="col">Sun</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">{% if firstday.0 == 0 %}{% else %}{{firstday.0}}{% endif %}</th>
                                {% for i in w1 %}
                                <td>{% if i == 0 %}{% else %}{{i}}{% endif %}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th scope="row">{% if firstday.1 == 0 %}{% else %}{{firstday.1}}{% endif %}</th>
                                {% for i in w2 %}
                                <td>{% if i == 0 %}{% else %}{{i}}{% endif %}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th scope="row">{% if firstday.2 == 0 %}{% else %}{{firstday.2}}{% endif %}</th>
                                {% for i in w3 %}
                                <td>{% if i == 0 %}{% else %}{{i}}{% endif %}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th scope="row">{% if firstday.3 == 0 %}{% else %}{{firstday.3}}{% endif %}</th>
                                {% for i in w4 %}
                                <td>{% if i == 0 %}{% else %}{{i}}{% endif %}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th scope="row">{% if firstday.4 == 0 %}{% else %}{{firstday.4}}{% endif %}</th>
                                {% for i in w5 %}
                                <td>{% if i == 0 %}{% else %}{{i}}{% endif %}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
            <form method="post" actions="/schedule/" style="width: 50%">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit", name="save">add appointment</button>
            </form>
    </div>
    {% endblock %}
